In [56]:
import numpy as np
import pandas as pd
import sys
from IPython.display import display

In [57]:
amn_data = pd.read_csv("../data_files/clean-combined-amns.csv")
nbr_data = pd.read_csv('../data_files/clean-nbr-coords.csv')

/home/gloria/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (28,31,37,44,46,49,61,67,68,69,73,74,89,90,91,93,100,105,112,130,131,140,148,151,157,158,160,163,164,165,166,167,169,170,172,174,180,184,187,189,191,192,199,202,203,206,208,218,219,220,229,233,234,235,236,241,243,244,245,259,261,262,264,265,266,269,270,271,272,275,281,284,285,286,293,300,302,303,304,306,315,317,319,321,322,323,324,325,327,333,334,335,350,355,359,362,364,365,369,373,374,375,377,379,383,384,387,388,394,395,396,397,398,411,412,418) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [58]:
def haversine(coords1, coords2):
    # radius of earth & haversine formula: 
    # https://en.wikipedia.org/wiki/Haversine_formula

    r = 6371000 # in meters

    lat_diff = np.radians(coords1['lat'] - coords2['lat'])
    lon_diff = np.radians(coords1['lon'] - coords2['lon'])
    lat1 = np.radians(coords2['lat'])
    lat2 = np.radians(coords1['lat'])

    h_sin2_lat = np.square(np.sin(lat_diff/2))
    h_sin2_lon = np.square(np.sin(lon_diff/2))
    h_sqrt = np.sqrt(h_sin2_lat + (np.cos(lat1) * np.cos(lat2) * h_sin2_lon))
    h_dist = 2 * r * np.arcsin(h_sqrt)

    return h_dist

In [59]:
numOfAmenities = amn_data.shape[0]

numOfNeighbourhoods = nbr_data.shape[0]

display(nbr_data)

    Unnamed: 0             neighbourhood        lat         lon
0            0             Arbutus Ridge  49.253555 -123.160443
1            1                  Downtown  49.278945 -123.117791
2            2         Downtown Eastside  49.284731 -123.091182
3            3         Dunbar-Southlands  49.249923 -123.185234
4            4                  Fairview  49.264745 -123.130698
5            5        Grandview-Woodland  49.275257 -123.067508
6            6          Hastings-Sunrise  49.277580 -123.040816
7            7  Kensington-Cedar Cottage  49.246544 -123.073069
8            8                Kerrisdale  49.233825 -123.155520
9            9                 Killarney  49.219955 -123.036685
10          10                 Kitsilano  49.265807 -123.163566
11          11                   Marpole  49.209861 -123.128646
12          12            Mount Pleasant  49.263056 -123.097317
13          13                  Oakridge  49.225976 -123.122244
14          14       Renfrew-Collingwood  49.248025 -123.041014
15          15                Riley Park  49.244942 -123.101913
16          16               Shaughnessy  49.244968 -123.141468
17          17              South Cambie  49.245831 -123.121409
18          18                Strathcona  49.272644 -123.088743
19          19                    Sunset  49.216945 -123.090595
20          20       Victoria-Fraserview  49.219545 -123.063478
21          21                  West End  49.285283 -123.133585
22          22           West Point Grey  49.267385 -123.200663

In [65]:
nbr_nearby_amenities = pd.DataFrame()
# nbr_nearby_amenities.append(nbr_data['neighbourhood'])
# columnsList = list(range(numOfAmenities))
# columnsList.insert(0, 'neighbourhood')
# print(columnsList)
# nbr_nearby_amenities.columns = columnsList
nbr_nearby_amenities['neighbourhood'] = nbr_data['neighbourhood']
display(nbr_nearby_amenities)

               neighbourhood
0              Arbutus Ridge
1                   Downtown
2          Downtown Eastside
3          Dunbar-Southlands
4                   Fairview
5         Grandview-Woodland
6           Hastings-Sunrise
7   Kensington-Cedar Cottage
8                 Kerrisdale
9                  Killarney
10                 Kitsilano
11                   Marpole
12            Mount Pleasant
13                  Oakridge
14       Renfrew-Collingwood
15                Riley Park
16               Shaughnessy
17              South Cambie
18                Strathcona
19                    Sunset
20       Victoria-Fraserview
21                  West End
22           West Point Grey

In [66]:
for i in range (numOfAmenities):
    dists = nbr_data.apply(haversine, coords2=amn_data.iloc[i] , axis=1)
    # only include amenities within 1km
    dists_inRange = dists.where(dists < 1000)
    dist_list = dists_inRange
    nbr_nearby_amenities[i] = dists_inRange

/tmp/ipykernel_115714/2202602082.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  nbr_nearby_amenities[i] = dists_inRange

In [69]:
# display(dists_inRange)
display(nbr_nearby_amenities)

,neighbourhood,0,1,2,3,4,5,6,7,8,...,7783,7784,7785,7786,7787,7788,7789,7790,7791,7792
0,Arbutus Ridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,945.498742,NaN,NaN,NaN,NaN,NaN,NaN
1,Downtown,NaN,NaN,NaN,751.282914,790.62661,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Downtown Eastside,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dunbar-Southlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fairview,566.484839,555.980911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621.146772,NaN,NaN
5,Grandview-Woodland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Hastings-Sunrise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Kensington-Cedar Cottage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Kerrisdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Killarney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Kitsilano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,630.409197,NaN,NaN,NaN,NaN,NaN,NaN
11,Marpole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,888.770796,NaN,NaN,NaN,NaN
12,Mount Pleasant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,859.482299
13,Oakridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,785.945634,NaN,NaN,NaN,NaN,NaN
14,Renfrew-Collingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Riley Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Shaughnessy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,South Cambie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Strathcona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Sunset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Victoria-Fraserview,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,664.269825,95.432419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,West End,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,734.764681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,West Point Grey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,789.097269,NaN,NaN,NaN

In [ ]:
nbr_nearby_amenities.to_csv('../data_files/nbr-amenity-is-near.csv')